.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 25px;
}

.popup input,
.popup button {
  font-size: 25px;
  padding: 5px;
}

.popup.show {
  display: grid;
  align-items: center;
  justify-content: center;
}

.popup__form form {
  display: flex;
    flex-direction: column;
    gap: 10px;
}